sudo: required
language: python
python:
  - '3.6'
services:
  - docker
before_install:
  - docker-compose up --build -d
script:
  - docker-compose run web python manage.py collectstatic
  - docker-compose run web pytest
  - docker-compose run web py.test --cov
  - docker-compose run web flake8 --exclude test_settings.py,*/migrations/,manage.py .
after_success:
  - docker-compose run web coveralls
after_script:
  - docker-compose down
