{% load staticfiles %}


{% block content %}
  <div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="classification-modal-lg">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div id="header-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Classificação de Risco</h5>
      </div>

      <div class="modal-body">
        <div class="container-fuild " id="container-modal">
          <div class="row" id="row-modal">
            <div class="btn-group-responsive" data-toggle="buttons">
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Dispneia
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Ictericia
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">
                  <div id="text">
                    Perda de Consciencia
                 </div>
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Cianose
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Febre
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Soluços
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Prostação
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Vomitos
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Tosse
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Coriza
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Obstrução Nasal
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Convulsão No Momento
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Diarreia
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Choro Inconsolável
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Dificuldade de Evacuar
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Não Suga o Seio
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Manchas na Pele
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Salivação
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Queda
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Chiado no Peito
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Diminuiçao da Diurese
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Dor Abdominal
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Dor de Ouvido
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Fontanela Abaulada
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Secreção No Umbigo
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Secreção Ocular
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Sangue nas Fezes
              </label>
              <label class="btn btn-primary col-md-2">
                <input type="checkbox" autocomplete="off">Convulção hoje
              </label>
            </div>
          </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" id="classification">
          Classificar
        </button>
      </div>
    </div>
    </div>
  </div>
  </div>
{% endblock %}
