{% for patient in patients %}
    {% csrf_token %}

    <div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="risk_ranting{{ patient.id }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="classification-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Classificação de risco
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>

                {% if patient.age_range == 1 %}

{#                    <form role="form" class="form" method="POST" id="form1">#}
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="container-fuild " id="container-modal">
                                <div class="row" id="row-modal">
                                    <div class="btn-group-responsive" data-toggle="buttons">
                                        {% for field in form1 %}
                                            {% if field.name == 'patient_id' %}
                                                <input type="hidden" value="{{ patient.id }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form1" />
                                            {% elif field.name == 'patient.comment_receptionist' %}
                                                <input type="hidden" value="{{ patient.comment_receptionist }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form1" />
                                            {% elif field.name == 'classifier_id' %}
                                                <input type="hidden" value="{{ request.user.id_user }}"
                                                name="classifier_id" />
                                                <input type="hidden" value="1" name="form1" />
                                            {% else %}
                                                <label class="btn btn-primary classification-button col-md-2" >
                                                    <input class="form-check-input"
                                                    type="checkbox" autocomplete="off"
                                                    name="{{ field.name }}">
                                                        {{ field.label }}
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" data-dismiss="modal" aria-hidden="true"
                                class="btn btn-primary classification-button classification"
                                name="form1">
                                    Classificar
                                </button>
                            </div>
                        </div>
{#                    </form>#}

                {% elif patient.age_range == 2 %}

{#                    <form role="form" class="form" method="POST" id="form2">#}
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="container-fuild " id="container-modal">
                                <div class="row" id="row-modal">
                                    <div class="btn-group-responsive" data-toggle="buttons">
                                        {% for field in form2 %}
                                            {% if field.name == 'patient_id' %}
                                                <input type="hidden" value="{{ patient.id }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form2" />
                                            {% elif field.name == 'patient.comment_receptionist' %}
                                                <input type="hidden" value="{{ patient.comment_receptionist }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form2" />
                                            {% elif field.name == 'classifier_id' %}
                                                <input type="hidden" value="{{ request.user.id_user }}"
                                                name="classifier_id" />
                                                <input type="hidden" value="1" name="form2" />
                                            {% else %}
                                                <label class="btn btn-primary classification-button col-md-2" >
                                                    <input class="form-check-input" type="checkbox"
                                                    autocomplete="off" name="{{ field.name }}">
                                                        {{ field.label }}
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" data-dismiss="modal" aria-hidden="true"
                                class="btn btn-primary classification-button classification"
                                name="form2">
                                    Classificar
                                </button>
                            </div>
                        </div>
{#                    </form>#}

                {% elif patient.age_range == 3 %}

{#                    <form role="form" class="form" method="POST" id="form3">#}
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="container-fuild " id="container-modal">
                                <div class="row" id="row-modal">
                                    <div class="btn-group-responsive" data-toggle="buttons">
                                        {% for field in form3 %}
                                            {% if field.name == 'patient_id' %}
                                                <input type="hidden" value="{{ patient.id }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form3" />
                                            {% elif field.name == 'patient.comment_receptionist' %}
                                                <input type="hidden" value="{{ patient.comment_receptionist }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form3" />
                                            {% elif field.name == 'classifier_id' %}
                                                <input type="hidden" value="{{ request.user.id_user }}"
                                                name="classifier_id" />
                                                <input type="hidden" value="1" name="form3" />
                                            {% else %}
                                                <label class="btn btn-primary classification-button col-md-2" >
                                                    <input class="form-check-input"
                                                    type="checkbox" autocomplete="off"
                                                    name="{{ field.name }}">
                                                        {{ field.label }}
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" data-dismiss="modal" aria-hidden="true"
                                class="btn btn-primary classification-button classification"
                                name="form3">
                                    Classificar
                                </button>
                            </div>
                        </div>
{#                    </form>#}

                    {% elif patient.age_range == 4 %}

{#                        <form role="form" class="form" method="POST" id="form4">#}
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="container-fuild " id="container-modal">
                                    <div class="row" id="row-modal">
                                        <div class="btn-group-responsive" data-toggle="buttons">
                                            {% for field in form4 %}
                                                {% if field.name == 'patient_id' %}
                                                    <input type="hidden" value="{{ patient.id }}"
                                                    name="patient_id" />
                                                    <input type="hidden" value="1"
                                                    name="form4" />
                                                {% elif field.name == 'patient.comment_receptionist' %}
                                                    <input type="hidden" value="{{ patient.comment_receptionist }}"
                                                    name="patient_id" />
                                                    <input type="hidden" value="1"
                                                    name="form4" />
                                                {% elif field.name == 'classifier_id' %}
                                                    <input type="hidden" value="{{ request.user.id_user }}"
                                                    name="classifier_id" />
                                                    <input type="hidden" value="1"
                                                    name="form4" />
                                                {% else %}
                                                    <label class="btn btn-primary classification-button col-md-2" >
                                                        <input class="form-check-input"
                                                        type="checkbox" autocomplete="off"
                                                        name="{{ field.name }}">
                                                            {{ field.label }}
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" data-dismiss="modal" aria-hidden="true"
                                    class="btn btn-primary classification-button classification"
                                    name="form4">
                                        Classificar
                                    </button>
                                </div>
                            </div>
{#                        </form>#}


                {% elif patient.age_range == 5 %}

{#                    <form role="form" class="form" method="POST" id="form5">#}
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="container-fuild " id="container-modal">
                                <div class="row" id="row-modal">
                                    <div class="btn-group-responsive" data-toggle="buttons">
                                        {% for field in form5 %}
                                            {% if field.name == 'patient_id' %}
                                                <input type="hidden" value="{{ patient.id }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form5" />
                                            {% elif field.name == 'patient.comment_receptionist' %}
                                                <input type="hidden" value="{{ patient.comment_receptionist }}"
                                                name="patient_id" />
                                                <input type="hidden" value="1" name="form5" />
                                            {% elif field.name == 'classifier_id' %}
                                                <input type="hidden" value="{{ request.user.id_user }}"
                                                name="classifier_id" />
                                                <input type="hidden" value="1" name="form5" />
                                            {% else %}
                                                <label class="btn btn-primary classification-button col-md-2" >
                                                    <input class="form-check-input"
                                                    type="checkbox" autocomplete="off"
                                                    name="{{ field.name }}">
                                                        {{ field.label }}
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" data-dismiss="modal" aria-hidden="true"
                                class="btn btn-primary classification-button classification"
                                name="form5">
                                    Classificar
                                </button>
                            </div>
                        </div>
{#                    </form>#}
                {% else %}

                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="container-fuild " id="container-modal">
                            <h5>
                                Desculpe, mas ainda não é possível classificar um paciente desta faixa etária
                            </h5>
                            <h6>
                                Faixa etaria: {{patient.age_range}}
                            </h6>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endfor %}
