{% for patient in patients %}
<form role="form" class="form" method="POST">

  {% csrf_token %}

    <div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="risk_range_1{{ patient.id }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="classification-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Classificação de risco</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fuild " id="container-modal">
                        <div class="row" id="row-modal">
                            <div class="btn-group-responsive" data-toggle="buttons">
                                <input type="hidden" value="{{ patient.id }}" name="patient_id" />
                                <label class="btn btn-primary classification-button col-md-2" >
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dispineia">Dispneia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="ictericia">Ictericia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="consciencia">Perda de Consciencia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="cianose">Cianose
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="febre">Febre
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="solucos">Soluços
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="prostracao">Prostação
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="vomitos">Vomitos
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="tosse">Tosse
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="coriza">Coriza
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="obstrucaoNasal">Obstrução Nasal
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="convulsaoMomento">Convulsão No Momento
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off"name="diarreia">Diarreia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="choroIncosolavel">Choro Inconsolável
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dificuldadeEvacuar">Dificuldade de Evacuar
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="naoSugaSeio">Não Suga o Seio
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="manchaPele">Manchas na Pele
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="salivacao">Salivação
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="queda">Queda
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="chiadoPeito">Chiado no Peito
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="diminuicaoDiurese">Diminuiçao da Diurese
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dorAbdominal">Dor Abdominal
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dorOuvido">Dor de Ouvido
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="fontanelaAbaulada">Fontanela Abaulada
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="secrecaoUmbigo">Secreção No Umbigo
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="secrecaoOcular">Secreção Ocular
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="sangueFezes">Sangue nas Fezes
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="convulsaoHoje">Convulsão hoje
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary classification-button" id="classification">
                        Classificar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="risk_range_2{{ patient.id }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="classification-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Classificação de risco</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fuild " id="container-modal">
                        <div class="row" id="row-modal">
                            <div class="btn-group-responsive" data-toggle="buttons">
                                <input type="hidden" value="{{ patient.id }}" name="patient_id" />
                                <label class="btn btn-primary classification-button col-md-2" >
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dispineia">Dispneia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="ictericia">Ictericia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="consciencia">Perda de Consciencia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="cianose">Cianose
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="febre">Febre
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="solucos">Soluços
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="prostracao">Prostação
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="vomitos">Vomitos
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="tosse">Tosse
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="coriza">Coriza
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="obstrucaoNasal">Obstrução Nasal
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="convulsaoMomento">Convulsão No Momento
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off"name="diarreia">Diarreia
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dificuldadeEvacuar">Dificuldade de Evacuar
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="naoSugaSeio">Não Suga o Seio
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="manchaPele">Manchas na Pele
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="salivacao">Salivação
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="queda">Queda
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="chiadoPeito">Chiado no Peito
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="diminuicaoDiurese">Diminuiçao da Diurese
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dorAbdominal">Dor Abdominal
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="dorOuvido">Dor de Ouvido
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="fontanelaAbaulada">Fontanela Abaulada
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="secrecaoUmbigo">Secreção No Umbigo
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="secrecaoOcular">Secreção Ocular
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="sangueFezes">Sangue nas Fezes
                                </label>
                                <label class="btn btn-primary classification-button col-md-2">
                                <input class="form-check-input" type="checkbox" autocomplete="off" name="convulsaoHoje">Convulsão hoje
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary classification-button" id="classification">
                        Classificar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% endfor %}
