{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">
<head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>CRP - Classificação de Risco</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

      <!-- Custom styles for this template -->
      <link href="{% static "css/landingPage.css" %}" rel="stylesheet">
</head>

<body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'users:landing_page' %}">CRP</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:register_user' %}">Cadastre-se</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" >|</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link js-scroll-trigger" href="{%  url 'users:home' %}">Entrar</a>
                    {% else %}
                        <a class="nav-link js-scroll-trigger" href="{%  url 'users:login' %}">Entrar</a>
                    {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Intro Header -->
        <header class="masthead">
          <div class="intro-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h1 class="brand-heading">CRP</h1>
                  <p class="intro-text">Ganhando tempo,
                    <br>salvando vidas!</p>
                  <a href="#" data-toggle="#about" class="btn btn-circle js-scroll-trigger">
                    <i class="fa fa-angle-double-down animated"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </header>

        <!-- About Section -->
        <section id="about" class="content-section text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2>O que é o CRP?</h2>
                <p>
                    O Classificação de Risco Pediátrico é um programa top!
                </p>
                <p>
                    O bagulho é loko!
                </p>
                  <p>
                      E o movimento é sexy!
                  </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Download Section -->
        <section id="download" class="download-section content-section text-center">
          <div class="container">
            <div class="col-lg-8 mx-auto">
              <h2>Como usar?</h2>
              <p>
                  Usando!
              </p>
              <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
          </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="content-section text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to leave us a comment on the
                  <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale template overview page</a>
                  on Start Bootstrap to give some feedback about this theme!</p>
                <ul class="list-inline banner-social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                      <i class="fa fa-twitter fa-fw"></i>
                      <span class="network-name">Twitter</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                      <i class="fa fa-github fa-fw"></i>
                      <span class="network-name">Github</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                      <i class="fa fa-google-plus fa-fw"></i>
                      <span class="network-name">Google+</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->
        <footer>
          <div class="container text-center">
            <p>Copyright &copy; Your Website 2017</p>
          </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
    <script src={% static "js/landingPage/jquery.js" %}></script>
    <script src={% static "js/landingPage/bootstrap.bundle.min.js" %}></script>

    <!-- Plugin JavaScript -->
    <script src={% static "js/landingPage/jquery.easing.min.js" %}"vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src={% static "js/landingPage/landingPage.js" %}></script>

</body>

