{% extends 'users/user_home/home_layout.html' %}
{% load staticfiles %}

{% block content_pos %}

<header>
    <h1>Escolha uma faixa etária</h1>
    <p>Dados para alimentar o Machine Learning</p>
</header>

<body>
    <!-- até 28 dias -->
    <a href="#" data-toggle="modal" data-target="#range1_ml" class="btn btn-primary classification-button">
        Até 28 dias
    </a>
    <!-- 29 dias a 2 meses -->
    <a href="#" data-toggle="modal" data-target="#range2_ml" class="btn btn-primary classification-button">
        Entre 29 dias e 2 meses
    </a>
    <!-- 2 meses a 3 anos -->
    <a href="#" data-toggle="modal" data-target="#range3_ml" class="btn btn-primary classification-button">
        Entre 2 meses e 3 anos
    </a>
    <!-- 3 anos a 10 anos -->
    <a href="#" data-toggle="modal" data-target="#range4_ml" class="btn btn-primary classification-button">
        Entre 3 anos e 10 anos
    </a>
    <!-- 10 anos ou mais -->
    <a href="#" data-toggle="modal" data-target="#range5_ml" class="btn btn-primary classification-button">
        Acime de 10 anos
    </a>
</body>
{% include 'risk_rating/risk_rating_ml.html' %}
{% endblock %}
