{% extends 'users/user_home/home_layout.html' %}
{% load staticfiles %}

{% block content_pos %}
<link rel="stylesheet" href="{% static "css/test.css" %}">

<main>
  <h1>Classificação</h1>
  <p>Dados para alimentar o Machine Learning</p>
</main>
<a href="#" data-toggle="modal" data-target="#range1_ml">
    <ul-card>
      <li class="card">
          <div class="card__front">
            <p class="card__num" align="center">Até</p>
            <p class="card__num" align="center">28 dias</p>
          </div>
      </li>
    </ul>
</a>

{% include 'risk_rating/risk_rating_ml.html' %}
{% endblock %}
