{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.4.2/r-2.2.0/datatables.min.css"/>
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/registeredPatient.css" %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.4.2/r-2.2.0/datatables.min.js"></script>
    <script src="{% static "js/home.js" %}"></script>
    <script src="{% static "js/manageAccounts.js" %}"></script>
    <script src="{% static "js/cleave.min.js" %}"></script>
    <script src="{% static "js/registerPatient.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <nav id="sidebar">
            <!-- Sidebar header -->
            <div class="sidebar-header">
                <a href="{% url "users:home" %}">
                  <div class="gradiente"></div>
                  <h3 id="crpname">CRP</h3>
                </a>
                <strong>CRP</strong>
            </div>

            <!-- Sidebar welcome message -->
            <p class="ml-2" id="welcome"><span>Bem-vindo(a), <br /><span id="welcomeName">{{ user.name }}</span></span></p>

            <ul class="list-unstyled components">
                <!-- Register patient -->
                <li>
                    <div class="container-box">
                        <div class="box-content">
                            <a href="{% url "users:register_patient" %}" onclick="changeGradientWidth(this)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Cadastrar Paciente
                            </a>
                        </div>
                    </div>
                </li>
                <!-- Patients -->
                <li>
                    <div class="container-box">
                        <div class="box-content">
                            <a href="#patients" data-toggle="collapse" aria-expanded="false" onclick="changeGradientWidth(this)">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                Paciente<span class="fa fa-chevron down"></span>
                            </a>
                            <ul class="collapse list-unstyled" id="patients">
                                <li>
                                    <a href="{% url "users:home" %}"><i class="fa fa-caret-right" aria-hidden="true"></i>
                                        Visualizar pacientes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Attendence -->
                <li>
                    <div class="container-box">
                        <div class="box-content">
                            <a class="link-group" href="#attendence" data-toggle="collapse" aria-expanded="false" onclick="changeGradientWidth(this)">
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                Atendimento
                            </a>
                            <ul class="collapse list-unstyled" id="attendence">
                                <li>
                                    <a href="{% url "users:home" %}"><i class="fa fa-caret-right" aria-hidden="true"></i>
                                        Classificar Paciente
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>
                                        Atender Paciente
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Statistics -->
                <li>
                    <div class="container-box">
                        <div class="box-content">
                            <a href="#statistics" data-toggle="collapse" aria-expanded="false" onclick="changeGradientWidth(this)">
                                <i class="fa fa-area-chart" aria-hidden="true"></i>
                                Estatísticas
                            </a>
                            <ul class="collapse list-unstyled" id="statistics">
                                <li>
                                    <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>
                                        Grafico de Classificações
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>
                                        Estatisticas Pessoais
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Help -->
                <li>
                    <div class="container-box">
                        <div class="box-content">
                            <a href="#help" data-toggle="collapse" aria-expanded="false" onclick="changeGradientWidth(this)">
                                <i class="fa fa-question-circle"></i>
                                Ajuda
                            </a>
                            <ul class="collapse list-unstyled" id="help">
                                <li>
                                    <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>
                                        Contato
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><i></i></li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <i class="glyphicon glyphicon-send"></i>
                        Sair
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar sticky-top navbar-light bg-light">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <i id="sidebarCollapse" class="fa fa-bars" aria-hidden="true"></i>
                    </div>

                    <p class="pt-3 ml-2" id="sidebarCollapse"></p>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% block content_pos %}
            {% endblock %}

        </div>
    </div>
{% endblock %}
