{% extends 'users/user_home/home_layout.html' %}

{% block content_pos %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="mx-auto my-auto text-center">
                <div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">
                    <form role="form" class="form" method="POST" >
                        <div class="card-header">
                            Cadastro de Paciente
                        </div>

                        {% csrf_token %}

                        {% if errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ errors }}
                            </div>
                        {% endif %}

                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.name.name }}" maxlength="150" id="{{ form.name.id_for_label }}" class="form-control"  placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1" autofocus required>
                                        </div>
                                        {% if form.name.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.name.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.guardian.name }}" id="{{ form.guardian.id_for_label }}" class="form-control"  placeholder="Responsável" aria-label="Responsável" aria-describedby="basic-addon3" required>
                                        </div>
                                        {% if form.guardian.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.guardian.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.birth_date.name }}" id="{{ form.birth_date.id_for_label }}" class="form-control"  placeholder="Data de nascimento" aria-label="Data de nascimento" aria-describedby="basic-addon3" required>
                                        </div>
                                        {% if form.birth_date.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.birth_date.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.cpf.name }}" id="{{ form.cpf.id_for_label }}" class="form-control"  placeholder="CPF" aria-label="CPF" aria-describedby="basic-addon2" required>
                                        </div>
                                        {% if form.cpf.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.cpf.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-users" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.parents_name.name }}" id="{{ form.parents_name.id_for_label }}" class="form-control"  placeholder="Nome dos pais" aria-label="Nome dos pais" aria-describedby="basic-addon4" required>
                                        </div>
                                        {% if form.parents_name.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.parents_name.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>


                            <div class="col">
                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.uf.name }}" id="{{ form.uf.id_for_label }}" class="form-control"  placeholder="UF" aria-label="UF" aria-describedby="basic-addon6" required>
                                        </div>
                                        {% if form.uf.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.uf.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-o" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.city.name }}" id="{{ form.city.id_for_label }}" class="form-control"  placeholder="Cidade" aria-label="Cidade" aria-describedby="basic-addon7" required>
                                        </div>
                                        {% if form.city.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.city.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-road" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.street.name }}" id="{{ form.street.id_for_label }}" class="form-control"  placeholder="Rua" aria-label="Rua" aria-describedby="basic-addon7" required>
                                        </div>
                                        {% if form.street.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.street.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-home" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.neighborhood.name }}" id="{{ form.neighborhood.id_for_label }}" class="form-control"  placeholder="Bairro" aria-label="Bairro" aria-describedby="basic-addon8" required>
                                        </div>
                                        {% if form.neighborhood.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.neighborhood.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-th-large" aria-hidden="true"></i></span>
                                            <input type="text" name="{{ form.block.name }}" id="{{ form.block.id_for_label }}" class="form-control"  placeholder="Conjunto" aria-label="Conjunto" aria-describedby="basic-addon9" required>
                                        </div>
                                        {% if form.block.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.block.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group px-3">
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">00</span>
                                            <input type="text" name="{{ form.number.name }}" id="{{ form.number.id_for_label }}" class="form-control"  placeholder="Número" aria-label="Número" aria-describedby="basic-addon10" required>
                                        </div>
                                        {% if form.number.errors %}
                                            <div class="error-holder">
                                                <div class="alert alert-warning" role="alert">
                                                    {{ form.number.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-right">
                            <a href="{% url 'users:home' %}" class="btn btn btn-outline-secondary btn-lg" >Cancelar</a>
                            <button type="submit" class="btn btn-outline-secondary btn-lg">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
