{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRP - Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
{% comment %}
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
{% endcomment %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="{% static "css/landingPage.css" %}" rel="stylesheet">
</head>

{% block content_pre %}
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        

        <section id="contact" class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h2 class="ser-title">Login</h2>
                        <hr class="botm-line">
                    </div>

                    <div class="col-md-6 col-sm-8 col-lg-offset-2">
                        <div class="contact-info">

                            <form role="form" class="form" method="POST" >

                                {% csrf_token %}

                                {% if errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ errors }}
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <input type="email" class="form-control br-radius-zero" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="E-mail" required />

                                </div>

                                <div class="form-group">
                                    <label for="email">Senha:</label>
                                    <input type="password" name="{{ form.password.name }}" class="form-control br-radius-zero" id="{{ form.password.id_for_label }}" placeholder="Sua senha" required />
                                </div>


                                <div class="form-action">
                                    <button type="submit" class="btn btn-form">Acessar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>
                Copyright &copy; Your Website 2017
            </p>
        </div>
    </footer>

    </body>
{% endblock %}