#mainNav {
    background: rgba(22, 52, 89, 0.8); }
#mainNav.navbar-shrink {
    background: rgba(22, 52, 89, 0.8);
}

body {
    background: white;
    padding-top: 100px;
    min-height: 100%;
    height: 100%; 
    margin-bottom: -200px;
}

.push {
    height: 50px;
}

footer {
    color: white;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background:#0d2a43;
}

h2.ser-title {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #222222;
    margin-bottom: 0px;
}

h4.white.no-padding {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: capitalize;
}

