body {
    background: lightblue no-repeat fixed left 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 75px;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 100px;
    height: 50px;
}

#contact {
	padding-top: 100px;
}

h2.ser-title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #222222;
}

h4.white.no-padding {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #222222;
}