#header {
  background-image: url('../img/Modificado6.jpg');
  /*width: 100%;
  height: 724px;
  background-repeat: no-repeat;
  background-size: 100%;*/
  max-width: 100%;
  min-height: 679px;
  background-size: contain;
  /*background-repeat: no-repeat;*/
}

.boxregistration{
  background-color: rgba(51, 51, 51, 0.5);
  display: flex;
  width: 500px;
  height: auto;
  border-radius: 30px;
  text-align: center;
  padding-right:  30px;
  padding-top: 1px;
  margin-top: 100px;
  margin-left: 300px;
}


.boxregistrationtest{
  background-color: rgba(51, 51, 51, 0.5);
  display: flex;
  width: 44%;
  height: 100%;
  border-radius: 9%;
  text-align: center;
  padding-right: 10%;
  padding-top: 1%;
  margin-top: 10%;
  margin-left: 30%;
}

.form-horizontal{
  display: flex;
  flex-direction: row;
  padding: 30px;
  text-align: left;
  }

.staffForm {
  display: flex;
  flex-direction: column;
}

.adressForm {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.buttonregistration{
  margin-top: 15px;
  margin-left: 100px;
}

.cadastro {
  margin: 20px;
  padding: 10px;
  border-color: black;
  width: 90%;
  height: 90%;
}
.cadastro h1 {
  text-align: center;
  color: blue;
}

.cadastro2 {
  background-color: yellow;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.registerStaff {
  width: 600px;
  height: 500px;
  text-align: middle;
  margin-right: 40px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  float: right;
}
