body {
    /*background: url('/static/img/background_image.jpeg') no-repeat center center fixed;*/
    background-color: #D3D3D3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#logo {
  width: 100px;
  height: 50px;
}

#container-modal {
  padding: 10px;
  margin: 3px;
  text-align: center;
}

#row-modal {
  padding: 0px;
}


.modal-content {
  background-color: #f7f8f9;
  border-radius: 1.3rem;
}

.btn-primary {
  /*display: none;*/
  word-wrap: break-word;
  white-space:normal !important;
  color: #007bff;
  background-color: white;
  height: 67px;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

#classification {
  color: white;
  background-color: #007bff;
  width: 97%;
  height: 37px;
  margin-top: 14px;
}

#header-modal {
  margin-left: 10px;
  text-align: justify;
  margin-top: 20px;
  padding-right: 22px;
  padding-left: 19px
}

/*input[type="checkbox"] + label {
    color: #ffffff;
}*/
