.input-group-addon {
    width: 40px;
}

.error-holder {
    max-width: 233px;
    max-height: 53px;
}

@media (max-width: 576px) {
    .form-group {
        max-width: 11em;
    }

    .error-holder {
        max-width: 150px;
    }
}