{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block login-button%}
{% endblock %}

{% block dropdown-button %}
     <ul class="navbar-nav ml-auto">
           <li>
              <div >
                 <a >
                 {% if user.is_authenticated %}{{ user.get_username }}{% endif %}
                 </a>

              </div>
           </li>
        </ul>
{% endblock %}

{% block background %}
    <div class="admin-page"></div>
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/mainAdmin.css" %}">
{% endblock %}

{% block content %}

<div class="container">


       <h1 class="display-6">Seja bem vindo {{ user.get_username }}!</h1>
       <h2 class="description display-6" style="padding-bottom: 1.5%"> Selecione uma das opções a seguir:</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <div class="block-title">
                    <h2> Histórico </h2>
                </div>
                <div class ="block-body">
                    <h4><u> - Visulizar histórico pessoal.</u></h4>
                    <h4><u> - Visulizar histórico geral.</u></h4>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="block">
                <div class="block-title">
                    <h2> Estatísticas </h2>
                </div>
                <div class ="block-body">
                    <h4><u> - Visulizar estatística geral.</u></h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <div class="block-title">
                    <h2> Contas </h2>
                </div>
                <div class ="block-body">
                     <h4><u> - Visulizar contas.</u></h4>
                </div>
            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <div class="block-title">
                    <h2> Pacientes </h2>
                </div>
                <div class ="block-body">
                    <h4><u> - Gerenciar pacientes.</u></h4>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="block">
                <div class="block-title">
                    <h2> Classificação </h2>
                </div>
                <div class ="block-body">
                    <h4><u> - Gerar classificação de risco.</u></h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <div class="block-title">
                     <h2> Filas </h2>
                </div>
                <div class ="block-body">
                    <h4><u> - Gerar filas.</u></h4>
                </div>
            </div>
        </div>



    </div>

</div>

{% endblock %}