{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/admin.css" %}">
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center mt-5">
            <div class="col">
                <div class="card text-white mb-3 slide-in-blurred-top">
                    <div class="card-header"><i class="fa fa-history" aria-hidden="true"></i> Histórico</div>
                    <div class="card-body">
                        <p class="card-text">Visualizar histórico pessoal</p>
                        <p class="card-text">Visualizar histórico geral</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white mb-3 slide-in-blurred-top">
                    <div class="card-header"><i class="fa fa-stack-exchange" aria-hidden="true"></i> Estatísticas</div>
                    <div class="card-body">
                        <p class="card-text">Visualizar estatísticas gerais</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white mb-3 slide-in-blurred-top">
                    <div class="card-header"><i class="fa fa-user-o" aria-hidden="true"></i> Administração</div>
                    <div class="card-body">
                        <p class="card-text"><a href="{% url 'users:manage_accounts' %}"> Visualizar contas</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white mb-3 slide-in-blurred-top">
                    <div class="card-header"><i class="fa fa-user" aria-hidden="true"></i> Pacientes</div>
                    <div class="card-body">
                        <p class="card-text"><a href="{% url 'users:manage_patients' %}">Listar pacientes</a></p>
                        <p class="card-text"><a href="{% url 'users:register_patient' %}">Registrar paciente</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white mb-3 slide-in-blurred-top">
                    <div class="card-header"><i class="fa fa-user-md" aria-hidden="true"></i> Classificação</div>
                    <div class="card-body">
                        <p class="card-text"><a href={% url 'risk_rating:risk_rating' %}>Gerar classificação de risco</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white mb-3 slide-in-blurred-top">
                    <div class="card-header"><i class="fa fa-users" aria-hidden="true"></i> Filas</div>
                    <div class="card-body">
                        <p class="card-text">Gerar filas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}