{% extends 'users/user_home/home_layout.html' %}
{% load staticfiles %}

{% block content_pos %}

    <div id="container" style="height: 80%"></div>
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
      <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
      <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var legend_data = [];
        var series_data = [];
        var color_data = ['rgba(244, 67, 54, 1)'];
        var app = {};

        buildData(legend_data, series_data);

        /* PIE CHART:

        option = null;
        option = {
         title : {
             text: 'Gráfico de Classificações',
             subtext: 'Análise de percentual',
             x:'center'
         },
         tooltip : {
             trigger: 'item',
             formatter: "{a} <br/>{b} : {c} ({d}%)"
         },
         legend: {
             orient: 'vertical',
             left: 'left',
             data: legend_data
         },
         series : [
             {
                 name: 'Pie Chart',
                 type: 'pie',
                 radius : '55%',
                 center: ['50%', '50%'],
                 data: series_data,
                 itemStyle: {
                     emphasis: {
                         shadowBlur: 10,
                         shadowOffsetX: 0,
                         shadowColor: 'rgba(0, 0, 0, 0.5)'
                     }
                 }
             }
         ]
       };*/

         var posList = [
           'left', 'right', 'top', 'bottom',
           'inside',
           'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
           'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
         ];

         app.configParameters = {
             rotate: {
                 min: -90,
                 max: 90
             },
             align: {
                 options: {
                     left: 'left',
                     center: 'center',
                     right: 'right'
                 }
             },
             verticalAlign: {
                 options: {
                     top: 'top',
                     middle: 'middle',
                     bottom: 'bottom'
                 }
             },
             position: {
                 options: echarts.util.reduce(posList, function (map, pos) {
                     map[pos] = pos;
                     return map;
                 }, {})
             },
             distance: {
                 min: 0,
                 max: 100
             }
         };

         app.config = {
             rotate: 0,
             align: 'center',
             verticalAlign: 'middle',
             position: 'insideBottom',
             distance: 40,
             onChange: function () {
                 var labelOption = {
                     normal: {
                         rotate: app.config.rotate,
                         align:   app.config.align,
                         verticalAlign: app.config.verticalAlign,
                         position: app.config.position,
                         distance: app.config.distance
                     }
                 };
                 myChart.setOption({
                     series: [{
                         label: labelOption
                     }, {
                         label: labelOption
                     }, {
                         label: labelOption
                     }, {
                         label: labelOption
                     }]
                 });
             }
         };


         var labelOption = {
             normal: {
                 show: true,
                 position: app.config.position,
                 distance: app.config.distance,
                 align: app.config.align,
                 verticalAlign: app.config.verticalAlign,
                 rotate: app.config.rotate,
                 formatter: '{c}',
                 fontSize: 40
             }
         };

         option = {
            color: color_data,
             tooltip: {
                 trigger: 'axis',
                 axisPointer: {
                     type: 'shadow'
                 }
             },
             legend: {
                 data: legend_data,
             },
             toolbox: {
                 show: true,
                 orient: 'vertical',
                 left: 'right',
                 top: 'center',
                 feature: {
                     saveAsImage: {show: true}
                 }
             },
            calculable: true,
             xAxis: [
                 {
                     type: 'category',
                     axisTick: {show: true},
                     data: legend_data,
                 }
             ],
             yAxis: [
                 {
                     type: 'value'
                 }
             ],
             series: [
                {
                  name: 'Classificações',
                  type: 'bar',
                  barGap: 2,
                  label: labelOption,
                  data: series_data,
                  itemStyle: {
                      emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                      },
                      normal: {
                        color: function(params) {
                          var colorList = [
                             '#ff3131','#fbff32','#30ff4f','#939393'
                             ];
                          return colorList[params.dataIndex]
                        }
                      }
                  },
                }
             ]
         };



        if (option && typeof option === "object") {
         myChart.setOption(option, true);
        }

        function buildData( legend_data, series_data){
          if ({{data.AtendimentoImediato}} != 0){
            legend_data.push("Atendimento Imediato");
            series_data.push({value:{{data.AtendimentoImediato}}});
          }
          if ({{data.AtendimentoHospitalar}} != 0){
            legend_data.push("Atendimento Hospitalar");
            series_data.push({value:{{data.AtendimentoHospitalar}}});
          }
          if ({{data.AtendimentoAmbulatorial}} != 0){
            legend_data.push("Atendimento Ambulatorial");
            series_data.push({value:{{data.AtendimentoAmbulatorial}}});
          }
          if ({{data.AtendimentoEletivo}} != 0){
            legend_data.push("Atendimento Eletivo");
            series_data.push({value:{{data.AtendimentoEletivo}}});
          }
        }

      </script>

{% endblock %}
