{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block login-button%}
{% endblock %}

{% block dropdown-button %}
{% endblock %}

{% block background %}
<div class="register-page"></div>
{% endblock %}

{% block brand %}
  {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'users:logout' %}">
      <img src="/static/img/LogoCRP.png" width="100" height="50" alt="">
    </a>
    {% else %}
    <a class="navbar-brand" href="{% url 'users:login' %}">
      <img src="/static/img/LogoCRP.png" width="100" height="50" alt="">
    </a>
  {% endif %}
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/mainAttendant.css" %}">
{% endblock %}

{% block content %}
    <div class="register_attendant_box col-md-6">
        <div>

        </div>
    </div>
{% endblock %}
