<!-- Arquivo: templates/users/homeRecepcionist.html -->

<!DOCTYPE html>
<html lang="pt-BR">
  <title> Informações do Paciente </title>
  <!-- Bootstrap Icone da pagina -->
  {% load staticfiles %}
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">
  <body>
  <center>
    <div class="boxInfos">
      <div class="infosPacient">
        <h1>Paciente</h1>
        <!-- Imagem do Paciente -->
        <h4>cpf<textarea></textarea></h4>
        <div class="pull-right">
          <button type="button" class="btn-primary">Editar Perfil</button>
        </div>
      </div>
    </div>
  </center>  
  </body>
</html>