{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static "js/tab.js" %}"></script>
{% endblock %}


{% block content %}
<div class="mainLogo">
  <img src="/static/img/LogoCRP.png" width="330" height="150" alt="">
</div>
<div class="boxLogin">
  <div class="box rounded float-right">
   <h1 class="display-4">Login</h1><br />
   <form role="form" class="form" method="POST" >
      {% csrf_token %}

       <input type="hidden" name="user_type" id="user_type" value="Staff">
       {% if errors %}
           <div class="errortext">
             {{ errors }}
           </div>
       {% endif %}

      <div id="login-form-group">
         <div class="form-group">
            {{ form.username.label_tag }}
            <input  type="email" name="{{ form.username.name }}" class="rounded" id="{{ form.username.id_for_label }}"  placeholder="exemplo@exemplo.com" required>
            {{ field.errors }}
         </div>
         <div class="form-group">
            {{ form.password.label_tag }}
            <input  type="password" name="{{ form.password.name }}" class="rounded" id="{{ form.password.id_for_label }}"  placeholder="*******" required>
            {{ field.errors }}
         </div>
      </div>
      <button type="submit" class="btn btn-outline-secondary btn-lg float-right"><i class="fa fa-plus" aria-hidden="true"></i> Login</button>
   </form>
 </div>
</div>

{% endblock %}
