{% load staticfiles %}

<!-- Arquivo: templates/users/login.html -->

<head>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css"%}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static "bootstrap/css/main.css"%}">
	<script src="{% static "bootstrap/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/static/bootstrap/images/CRPFINAL.png">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastre-se <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/register/admin">Administrador</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user/register/attendant">Atendente</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user/register/staff">Recepcionista</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="jumbotron">
		<div class="boxLogo"></div>
		<div class="boxlogin">
			<div id="textLogin">
				<h1>Login</h1>
			</div>
			<form role="form" class="form" method="POST" action="{{ request.path }}{% if next %}?next={{ next }}{% endif %}">
			{% csrf_token %}
			<div class="labelTextLogin">
				{{ form.as_p }}
			</div>
			<div class="btnLogin">
				<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Login</button>
			</div>

			</form>
		</div>

	</div>