{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block background %}
  <div class="admin-page"></div>
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/mainAdmin.css" %}">
  <link rel="stylesheet" href="{% static "css/managePage.css" %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block content %}
  <div class="box rounded float-right">
    <h1>Listagem das contas</h1>
    <input type="text" name="search">
    <a href="{{ search }}"><input type="submit" name="submit" value="Pesquisa"></a>
    <table class="manageAccounts table table-striped table-bordered">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Função</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
      {% for staff in staffs %}
        <tr>
          <td>{{ staff.id_user}}</td>
          <td>{{ staff.name }}</td>
          <td>
            {% if staff.profile == 1 %}
              Recepcionista
            {% else %}
              Atendente
            {% endif %}
          </td>
          <td><a href="edit/{{ staff.id_user }}"><button type="button" class="editButton"></button></a></td>
          <td><a class="deleteButton" button type="button"
                  onclick="return confirm('Voce tem certeza que deseja deletar este usuário?"
                  href="{% url 'users:staff_remove' staff.id_user %}"></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
