{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block background %}
  <div class="admin-page"></div>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/mainAdmin.css" %}">
  <link rel="stylesheet" href="{% static "css/managePage.css" %}">
{% endblock %}


{% block content %}
  <div class="box rounded float-right">
    <h1>Pacientes</h1>
    <table class="table">
    <tr>
      <th>CPF</th>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Nome do Responsável</th>
      <th>Nome dos pais</th>
    </tr>
      {% for patient in patients %}
        <tr>
          <td>{{ patient.cpf}}</td>
          <td>{{ patient.name }}</td>
            <td>{{ patient.birth_date }}</td>
            <td>{{ patient.guardian }}</td>
            <td>{{ patient.parents_name }}</td>
          <td>Paciente</td>
          <td><a href="{% url 'users:edit_patient' patient.cpf %}"><i class="fa fa-pencil" aria-hidden="true"></i>
          </a></td>
          <td><button type="button" class="deleteButton"></button></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
