{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block background %}
  <div class="admin-page"></div>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/mainAdmin.css" %}">
  <link rel="stylesheet" href="{% static "css/managePage.css" %}">
{% endblock %}


{% block content %}
  <div class="box rounded float-right">
    <h1>Pacientes</h1>
    <table class="table">
    <tr>
      <th>CPF</th>
      <th>Nome</th>
    </tr>
      {% for patient in patients %}
          <tr onclick="window.document.location='{% url 'users:show_patient' cpf=patient.cpf %}';">
              <td>{{ patient.cpf}}</td>
              <td>{{ patient.name }}</td>
            </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}