{% extends 'users/user_home/home_layout.html' %}
{% load staticfiles %}

{% block content_pos %}
    <div class="form-group title_left mt-4">
        <input id="searchPatientHistory" type="search" class="form-control pull-right mr-1"
        placeholder="Pesquisar Paciente..." aria-controls="example">
        <h2>
            Meu Histórico
        </h2>
    </div>
    <div id="list" class="x_panel slide-in-blurred-top" style="background-color: white">
        <table id="myHistory" class="table table-condensed" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Classificador</th>
                <th></th>
                <th>Nome / ID</th>
                <th>Classificação</th>
                <th>Sintomas</th>
                <th>Idade</th>
                <th>Data/hora</th>
            </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
                <tr>
                    <td id="classifier">
                        {{ classifier.name }}
                    </td>
                    <td id="sex">
                        {% if patient.gender == 1 %}
                            <i class="fa fa-female" aria-hidden="true"></i>
                        {% elif patient.gender == 2 %}
                            <i class="fa fa-male" aria-hidden="true"></i>
                        {% endif %}
                    </td><!-- sexo -->

                    <td id="name_patient">
                        {% if patient.name %}
                            {{ patient.name }}
                        {% else %}
                            {{ patient.id }}
                        {% endif %}
                    </td><!--nome-->

                    <td id="classify_table_patient">
                        {% if patient.classification == 0 %}
                            <span class="invisible m-0">
                                z
                            </span>
                            <span class="ml-1 btn btn-primary badge badge-pill badge-secondary">
                                Não classificado
                            </span>
                        {% elif patient.classification == 1 %}
                            <span class="invisible m-0">
                                y
                            </span>
                            <span class="ml-1 btn btn-primary badge badge-pill badge-danger">
                                Atendimento Imediato
                            </span>
                        {% elif patient.classification == 2 %}
                            <span class="invisible m-0">
                                x
                            </span>
                            <span class="ml-1 btn btn-primary badge badge-pill badge-warning">
                                Atendimento Hospitalar
                            </span>
                        {% elif patient.classification == 3 %}
                            <span class="invisible m-0">
                                w
                            </span>
                            <span class="btn btn-primary badge badge-pill badge-success">
                                Atendimento Ambulatorial
                            </span>
                        {% elif patient.classification == 4 %}
                            <span class="invisible m-0">
                                u
                            </span>
                            <span class="ml-1 btn btn-primary badge badge-pill badge-info">
                                Atendimento Eletivo
                            </span>
                        {% endif %}
                    </td><!--td classificação-->

                    <td id="symptoms">
                    </td><!--td sintomas-->

                    <td id="age_range_table">
                        {% if patient.birth_date == None %}
                            {% if patient.age_range  == 0 %}
                                Faixa etária indefinida
                            {% elif patient.age_range == 1 %}
                                0 até 28 dias
                            {% elif patient.age_range == 2 %}
                                29 dias à 2 meses
                            {% elif patient.age_range == 3 %}
                                2 meses à 3 anos
                            {% elif patient.age_range == 4 %}
                                3 anos à 10 anos
                            {% elif patient.age_range == 5 %}
                                Acima de 10 anos
                            {% endif %}
                        {% else %}
                            {{ patient.age }}
                        {% endif %}
                    </td><!--td faixa etária-->

                    <td id="data">
                        {{ patient.created_at|date:"d/m/y - H:i" }}
                    </td><!--td data de criação-->
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="card-footer text-right mt-1">
        </div>
    </div>
{% endblock %}
