  {% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block background %}
  <div class="admin-page"></div>
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/mainAdmin.css" %}">
  <link rel="stylesheet" href="{% static "css/managePage.css" %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block js %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static "js/manageAccounts.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-7 col-md-10 mx-auto my-auto">
            <div class="card bg-light border-secondary slide-in-blurred-top">
                <div class="card-header text-center">
                    Classificação de Risco Pediátrico
                </div>
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                          <th>Posição na fila</th>
                          <th>CPF</th>
                          <th>Nome</th>
                          <th>Responsável</th>
                          <th>Realizar Classificação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for queuedPatient in queuedPatients %}
                            <tr>
                              <td>{{ queuedPatient.queuePosition }}</td>
                              <td>{{ queuedPatient.cpf}}</td>
                              <td>{{ queuedPatient.name }}</td>
                              <td>{{ queuedPatient.guardian }}</td>
                              <td><a href="{% url 'users:classification' queuedPatient.cpf %}"><i class="fa fa-user-md" aria-hidden="true"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer text-right">
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- <div class="box rounded float-right">
    <h1>Fila de Pacientes</h1>

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>CPF</th>
              <th>Nome</th>
              <th>Responsável</th>
              <th>Realizar Classificação</th>
            </tr>
        </thead>
        <tbody>
          {% for patient in patientList %}
              <tr>
                  <td>{{ patient.cpf}}</td>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.guardian }}</td>
                  <td><a href="{% url 'users:classification' patient.cpf %}"><i class="fa fa-user-md" aria-hidden="true"></i>
                  </a></td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
  </div> -->
{% endblock %}
