<!doctype html>

<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <title>CRP</title>
    <!--<link rel="stylesheet" href="css/bootstrap.css" >-->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
    <link rel="stylesheet" href="{% static "css/maincss.css" %}" >
  </head>

  <form class="form-group" method="POST">
    <div>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary"name='action' value='address' type="submit">Cadastrar</button>
    </div>
  </form>
