{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block content %}
    <div class="box rounded float-right">
       <h1 class="display-6">Cadastro de Paciente</h1>
       <p class="description"> Informe os dados do novo paciente </p>
       <form role="form" class="form" method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="d-inline-block">
             <div class="form-row">
                <div class="fieldWrapper">
                   {{ form.name.errors }}
                   <label for="{{ form.name.id_for_label }}" class="col-form-label">Nome:</label>
                   {{ form.name }}
                </div>
                <div class="fieldWrapper">
                   {{ form.cpf.errors }}
                   <label for="{{ form.cpf.id_for_label }}" class="col-form-label">CPF:</label>
                   {{ form.cpf }}
                </div>
             </div>
             <div class="form-row">
                <div class="fieldWrapper">
                   {{ form.guardian.errors }}
                   <label for="{{ form.guardian.id_for_label }}" class="col-form-label">Resp:</label>
                   {{ form.guardian }}
                </div>
                <div class="fieldWrapper">
                   {{ form.parents_name.errors }}
                   <label for="{{ form.parents_name.id_for_label }}" class="col-form-label">Pais:</label>
                   {{ form.parents_name }}
                </div>
             </div>
             <div class="form-row">
                <div class="fieldWrapper">
                   {{ form.birth_date.errors }}
                   <label for="{{ form.birth_date.id_for_label }}" class="col-form-label">Nasc:</label>
                   {{ form.birth_date }}
                </div>
                <div class="fieldWrapper">
                   {{ form.uf.errors }}
                   <label for="{{ form.uf.id_for_label }}" class="col-form-label">UF:</label>
                   {{ form.uf }}
                </div>
             </div>
             <div class="form-row">
                <div class="fieldWrapper">
                   {{ form.city.errors }}
                   <label for="{{ form.uf.id_for_label }}" class="col-form-label">City:</label>
                   {{ form.city }}
                </div>
                <div class="fieldWrapper">
                   {{ form.neighborhood.errors }}
                   <label for="{{ form.neighborhood.id_for_label }}" class="col-form-label">Bairro:</label>
                   {{ form.neighborhood }}
                </div>
             </div>
             <div class="form-row">
                <div class="fieldWrapper">
                   {{ form.street.errors }}
                   <label for="{{ form.street.id_for_label }}" class="col-form-label">Rua:</label>
                   {{ form.street }}
                </div>
                <div class="fieldWrapper">
                   {{ form.block.errors }}
                   <label for="{{ form.block.id_for_label }}" class="col-form-label">Conj:</label>
                   {{ form.block }}
                </div>
             </div>
             <div class="form-row">
                <div class="fieldWrapper">
                   {{ form.number.errors }}
                   <label for="{{ form.number.id_for_label }}" class="col-form-label">Num:</label>
                   {{ form.number }}
                </div>
                <div class="fieldWrapper">
                   {{ form.isInQueue.errors }}
                   <label for="{{ form.isInQueue.id_for_label }}" class="col-form-label">Está na fila:</label>
                   {{ form.isInQueue }}
                </div>
             </div>
             <div class="form-row">
                <div class="fieldWrapper">
                   {{ form.queuePosition.errors }}
                   <label for="{{ form.queuePosition.id_for_label }}" class="col-form-label">Posição da fila:</label>
                   {{ form.queuePosition }}
                </div>
             </div>
          </div>
          <div id="botoes_cadastro">
            {% if user.is_admin %}
                <a href="{% url 'users:admin' %}" class="btn btn btn-outline-secondary btn-lg" >Cancelar</a>
            {% elif user.profile == 1 %}
                <a href="{% url 'users:home_receptionist' %}" class="btn btn btn-outline-secondary btn-lg" >Cancelar</a>
            {% elif user.profile == 2 %}
                <a href="{% url 'users:home_attendant' %}" class="btn btn btn-outline-secondary btn-lg" >Cancelar</a>
            {% endif %}
             <button class="btn btn-primary" name='action' value='address' type="submit">Cadastrar</button>
          </div>
       </form>
    </div>
{% endblock %}