  {% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block background %}
  <div class="admin-page"></div>
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/mainAdmin.css" %}">
  <link rel="stylesheet" href="{% static "css/managePage.css" %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block js %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static "js/manageAccounts.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card bg-light border-secondary slide-in-blurred-top">
                 <div class="x_title">
                            <h2></h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>


                <table id="example" class="table table-condensed" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="hidden-xs hidden-sm">CPF</th>
                            <th>Nome</th>
                            <th>Responsável</th>
                            <th>Editar</th>
                            <th>Deletar</th>
                            <th>Enviar para fila</th>
                            <th>Posição na fila</th>
                            <th>Está na fila</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                            <tr>
                              <td>{{ patient.cpf}}</td>
                              <td>{{ patient.name }}</td>
                              <td>{{ patient.guardian }}</td>
                              <td><a href="edit/{{ patient.cpf }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                              <td><a href="#" data-toggle="modal" data-target="#{{ patient.cpf }}"><i class="fa fa-ban" aria-hidden="true"></i></a></td>
                              <td><a href="{% url 'users:queue_patient' patient.cpf %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></td>
                              <td>{{ patient.queuePosition }}</td>
                              <td>{{ patient.isInQueue }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer text-right">
                </div>
            </div>
        </div>
    </div>
</div>

{% for patient in patients %}
    <div class="modal fade" id="{{ patient.id_user }}" tabindex="-1" role="dialog" aria-labelledby="Deletar Paciente" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deletar Paciente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja deletar o registro do {{ patient.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <a href="{% url 'users:patient_remove' patient.cpf %}" class="btn btn-danger">Deletar</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


  <!-- <div class="box rounded float-right">
    <h1>Pacientes Cadastrados</h1>

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>CPF</th>
              <th>Nome</th>
              <th>Responsável</th>
              <th>Editar</th>
              <th>Deletar</th>
              <th>Enviar para fila</th>
            </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
              <tr>
                  <td>{{ patient.cpf}}</td>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.guardian }}</td>
                  <td><a href="edit/{{patient.cpf}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                  <td><a href="{% url 'users:patient_remove' patient.cpf %}"><i class="fa fa-ban" aria-hidden="true"></i>
                  </a></td>
                  <td><a href="{% url 'users:queue_patient' patient.cpf %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a></td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
  </div> -->
{% endblock %}
