{% extends 'layout/layout.html' %}
{% load staticfiles %}

{% block background %}
<div class="register-page"></div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
    <div class="box rounded float-right">
       <h1>Atendente Cadastro</h1>
       <form class="form-group" method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
          <div id="login-form-group">
             <div class="form-group">
                {% if field.name != 'password1' and field.name != 'password2' %}
                    {{ field.label_tag }}
                {% elif field.name != 'password2' %}
                    <label for="{{ field.id_for_label }}">Senha:</label>
                {% else %}
                    <label for="{{ field.id_for_label }}">Confirmar Senha:</label>
                {% endif %}

                {% if field.name != 'password1' and field.name != 'password2' and field.name != 'email' %}
                    <input  type="text" name="{{ field.name }}" class="rounded" id="{{ field.id_for_label }}" >
                {% elif field.name != 'email' %}
                    <input  type="password" name="{{ field.name }}" class="rounded" id="{{ field.id_for_label }}" >
                {% else %}
                    <input  type="email" name="{{ field.name }}" class="rounded" id="{{ field.id_for_label }}" >
                {% endif %}

                {{ field.errors }}
             </div>
          </div>
          {% endfor %}
          <button class="btn btn-outline-secondary float-right"name='action' value='address' type="submit">Cadastrar</button>
       </form>
    </div>
{% endblock %}
