{% load staticfiles %}

<!-- Arquivo: templates/users/register.html -->
<head>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <title>CRP</title>

	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css"%}">
	<link rel="stylesheet" href={"% static "bootstrap/css/bootstrap.min.css"%}">
</head>

<nav class="menubar">
  <div class="container-fluid">
  <div class="navbar-header">
    <a href="/user/login"><div class="logoIcon"></div></a>
  </div>  
    <div class="signup">
    </div> 
  </div>
</nav>

<h1>Cadastro</h1>

<div class="container">
    <div class="jumbotron">
        <form class="address" method="POST">
            {% csrf_token %}
            {{ forms.registration_admin_form.as_p }}
            {{ forms.address_form.as_p }}
            <button name='action' value='admin' type="submit">Sign up</button>
        </form>
    </div>
</div>