{% extends 'users/home.html' %}
{% load staticfiles %}

{% block background %}
  <div class="admin-page"></div>
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/mainAdmin.css" %}">
  <link rel="stylesheet" href="{% static "css/managePage.css" %}">
    <link rel="stylesheet" href="{% static "css/registeredPatient.css" %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block js %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static "js/manageAccounts.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group title_left mt-4" >
                <input id="searchPatient" type="search" class="form-control pull-right mr-1"
                       placeholder="Pesquisar Paciente..." aria-controls="example">
               <h2>Cadastrados</h2>
            </div>

            <div id="list" class="x_panel" style="background-color: white">

                    <table id="example" class="table table-condensed"  cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="hidden-xs hidden-sm">CPF</th>
                            <th>Nome</th>
                            <th>Classificação</th>
                            <th>Editar</th>
                            <th>Sintomas</th>
                            <th>Faixa-etária</th>
                            <th>Data de Cadastro</th>
                            <th>Atendente</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                            <tr>
                              <td>{{ patient.cpf}}</td>
                              <td>{{ patient.name }}</td>
                              <td class="badge badge-success btn btn-primary" data-toggle="modal" data-target="#exampleModal">{{ patient.guardian }}</td>
                              <td><a href="edit/{{ patient.cpf }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                              <td><a href="#" data-toggle="modal" data-target="#{{ patient.cpf }}"><i class="fa fa-ban" aria-hidden="true"></i></a></td>
                              <td>

                                          <select name="{{ form.profile.name }}" class="form-control">
                                              <option value="" selected disabled>Faixa etária</option>
                                              <option value="1">Até 28 dias</option>
                                              <option value="2">29 dias à 3 meses</option>
                                          </select>
                                          {% if form.profile.errors %}
                                              <div class="error-holder">
                                                  <div class="alert alert-warning" role="alert">
                                                      {{ form.profile.errors }}
                                                  </div>
                                              </div>
                                          {% endif %}

                              </td>
                              <td>{{ patient.date }}</td>
                              <td>{{ patient.classifier }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer text-right mt-1">
                </div>
            </div>
        </div>
    </div>
</div>

{% for patient in patients %}
    <div class="modal fade" id="{{ patient.id_user }}" tabindex="-1" role="dialog" aria-labelledby="Deletar Paciente" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deletar Paciente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja deletar o registro do {{ patient.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <a href="{% url 'users:patient_remove' patient.cpf %}" class="btn btn-danger">Deletar</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    <!-- Modal Classification-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
