{% load staticfiles %}

<footer>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">
                            Contato
                        </h4>
                    </div>
                    <div class="info-sec">
                        <p id="footer_p">
                            Sinta-se à vontade para contatar os desenvolvedores pela plataforma de desenvolvimento
                            <a href="http://github.com/fga-gpp-mds/2017.2-Classificacao-de-Risco-Pediatrico/wiki">
                                Github
                            </a>
                            para o esclarecimento de qualquer tipo de dúvidas!
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">
                            Acesso rápido
                        </h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info" style="list-style: none;">
                            <li>
                                <a class="nav-link js-scroll-trigger" href="{% url 'users:landing_page' %}">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a class="nav-link js-scroll-trigger" href="{% url 'users:register_user' %}">
                                    Cadastre-se
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
