<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {%if user.is_authenticated %}
   <a class="navbar-brand" href="{% url 'users:logout' %}">
   <img src="/static/img/LogoCRP.png" width="100" height="50" alt="">
   </a>
   {% else %}
   <a class="navbar-brand" href="{% url 'users:login' %}">
   <img src="/static/img/LogoCRP.png" width="100" height="50" alt="">
   </a>
   {% endif %}
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% if not user.is_authenticated %}
         <ul class="navbar-nav">
             <li class="nav-item active">
                <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
             </li>
         </ul>
      {% else %}
          <p>Seja bem-vindo(a),
          {{ user.name }}
          </p>
          <div class="logout">
            <p><a href="{% url 'users:logout' %}">Logout</a></p>
          </div>
      {% endif %}

      <ul class="navbar-nav ml-auto">
           {% if not user.is_authenticated %}
               <li>
                   <a href="/register/profile">Cadastre-se</a>
               </li>
           {% endif %}
      </ul>
   </div>
</nav>
